{{#with data}}

<div class="art_card">
    <div class="card_image" id="{{id}}" style="background-image: url({{photo}})"> </div>
    <div class="article_head">
        <h3 class="card_title">{{name}}</h3>
        {{#if isNew}}
        <div class="new">NEW</div>
        {{/if}}
    </div>
    <p class="card_text">{{description}}</p>
    <a class="card_button" href="{{href}}">Read all</a>
</div>


{{/with}}